body {
	position: relative;
	width: 320px;
	height: 470px;
	background-color: #F5F5F5;
}
button {
	font-family: "Helvetica", "Arial", sans-serif;
	color: white !important;
	background-color: transparent;
	height: 25px;
	width: 64px;
}
button:hover {
	font-weight: bold !important; 
	color: white !important;
	background-position: 0px !important;
	outline: 0 none !important;
	box-shadow: none !important;
}
button:focus {
	outline: 0 none !important;
}

.selected {
	font-weight: bold !important;
}

.text-input {
	width: 150% !important;
	height: 200% !important;
	font-size: 11px;
	font-family: "Helvetica", "Arial", sans-serif;
	text-align: center;
}
.orange {
	background-color: #FFC30F;
}
.red-orange {
	background-color: #FF794D;
}
.purple {
	background-color: #794DFF;
}
.violet {
	background-color: #4D79FF;
}
.blue {
	background-color: #2BDDE4;
}
.green {
	background-color: #6CE54E;
}

#shift-right{
	margin-left: 50px;
}

.padding {
	height: 10px;
}
.center {
	display: block !important;
	text-align: center !important;
	float: none !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.adjust-padding {
	padding-right: 20px !important;
	padding-left: -20px !important;
}
#hashtags {
	float: none !important;
	padding-right: 25px !important;
	/*padding-left: -20px !important;*/
}
