body {
	position: relative;
	width: 320px;
	height: 470px;
	background-color: #F5F5F5;
}
button {
	font-family: "Helvetica", "Arial", sans-serif;
	color: white !important;
	background-color: transparent;
	height: 25px;
	width: 64px;
}
button:hover {
	font-weight: bold !important; 
	color: white !important;
	background-position: 0px !important;
	outline: 0 none !important;
	box-shadow: none !important;
}
button:focus {
	outline: 0 none !important;
}

.selected {
	font-weight: bold !important;
}

.text-input {
	width: 150% !important;
	height: 200% !important;
	font-size: 11px;
	font-family: "Helvetica", "Arial", sans-serif;
	text-align: center;
}
.palette-1 {
	background-color: #465C98;
}
.palette-2 {
	background-color: #ABCBF4;
}
.palette-3 {
	background-color: #2E232B;
}
.palette-4 {
	background-color: #72A0C4;
}
.palette-5 {
	background-color: #32356C;
}
.palette-6 {
	background-color: #145369;
}
.palette-7 {
	background-color: #9DB8DE;
}
.palette-8 {
	background-color: #6196C1;
}
.palette-9 {
	background-color: #3E485F;
}
.palette-10 {
	background-color: #151647;
}




.gray {
	background-color: #7A7A7A;
}

#shift-right{
	margin-left: 30px;
}

.padding {
	height: 10px;
}
.center {
	display: block !important;
	text-align: center !important;
	float: none !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.adjust-padding {
	padding-right: 20px !important;
	padding-left: -20px !important;
}
#hashtags {
	float: none !important;
	padding-right: 25px !important;
	/*padding-left: -20px !important;*/
}

.blocked-keyword {
	width: 275px !important;
	height: 30px !important;
}

.trend {
	width: 130px !important;
	margin-top: 3px !important;
}
